.swipered {
  height: 100%;
  margin: 0;
  position: static;
}
.headSweaper {
  height: max-content;
}
.headAuto {
  height: auto;
}
.swiper-slider {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  margin: 0;
  top: 0%;
  right: 1%;
  height: 50%;
  padding: 2rem 1.4rem;
  background: #0b0f29;

  position: absolute;
  width: calc(var(--swiper-navigation-size) / 44 * 27);

  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-next::after {
  color: #fff;
  font-size: 2rem;
}
.swiper-button-prev {
  left: auto;
  margin: 0;
  bottom: 0%;
  right: 1%;
  height: 50%;
  padding: 2rem 1.4rem;
  background: #0b0f29;

  position: absolute;
  width: calc(var(--swiper-navigation-size) / 44 * 27);

  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev:after {
  color: #fff;
  font-size: 2rem;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #f20000;
}

@media (min-width: 0px) {
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}

@media (min-width: 1024px) {
  .swiper-button-next {
    display: flex;
  }
  .swiper-button-prev {
    display: flex;
  }
}
