<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  </head>
  <body>
    <div class="">
      <h1 class="title">Movie HV</h1>
      <h1 class="subtitle">Feel it now</h1>
    </div>

    <script>
      // Wait for the page to load
      window.addEventListener("load", function () {
        // Get the elements you want to animate
        const title = document.querySelector(".title");
        const subtitle = document.querySelector(".subtitle");

        // Create a GSAP timeline
        const tl = gsap.timeline();

        // Set initial properties
        tl.fromTo(title, { opacity: 0, y: -50 }, { opacity: 1, y: 0 });
        tl.fromTo(
          subtitle,
          { opacity: 0, y: -20 },
          { opacity: 1, y: 10, x: "1000px" },
          "<2"
        );
      });
    </script>
  </body>
</html>
